/* General Styles */
.course-category {
    margin-bottom: 30px;
}

.course-category h3 {
    font-size: 1.5em;
    color: #2c3e50;
    margin-bottom: 15px;
}

.scrollable-table {
    overflow-x: auto;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #007bff;
    color: white;
}

table td {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

table td.empty {
    background-color: #f0f0f0;
}

table tr:hover {
    background-color: #eaeaea;
}

table td {
    word-wrap: break-word;
    max-width: 120px;
}
.clickable-course {
    text-decoration: underline;
    cursor: pointer;
}

.past-course {
    background-color: #d3d3d3; /* Light gray for past courses */
}

.current-course {
    background-color: #4CAF50; /* Green for current courses */
    color: white;
}

.future-course {
    background-color: #FFA500; /* Orange for future courses */
}

.scrollable-table {
    overflow-x: auto;
}
